@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Lobster+Two:400,700);

* {
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #EB5959;
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Libre Baskerville', serif;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: relative;
  width: 750px;
  margin: 70px auto;
  text-align: center;
}

.cta {
  padding: 50px 0;
}

h1 {
  font-family: 'Lobster Two', cursive;
  padding: 30px;
  font-size: 48px;
}

h2 {
  line-height: 1.5em;
  font-size: 22px;
}

img {
  width: 200px;
  padding: 10px;
}

#payment-form {
  width: 400px;
  margin: 0 auto;
}

input, textarea, button {
  box-sizing: border-box;
  outline: none;
  font-family: 'Libre Baskerville', serif;
  width: 100%;
  border-radius: 4px;
}

input {
  font-size: 16px;
  padding: 5px;
  margin: 3px 0;
  border: 2px solid #c53333;
}

input:focus {
  border: 2px solid #ff9999;
}

textarea {
  height: 100px;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #c53333;
  margin: 3px 0;
  resize: none;
}

textarea:focus {
  border: 2px solid #ff9999;
}

button {
  color: #ffffff;
  border: 2px solid #ab1919;
  background-color: #c53333;
  cursor: pointer;
  padding: 6px 0;
  font-size: 20px;
  margin: 15px 0;
}

button:hover {
  background-color: #de4c4c;
}

button:focus {
  border: 2px solid #ff9999;
}
